body {
    margin: auto;
    padding: 0 auto;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
}

header {
    background-color: black;
    /* background: linear-gradient(to right, #c97efd, #ef729d);*/
    background-color: rgb(0, 174, 255);
    transition: 0.5s;
}

.headerJSeffet {
    /* background: linear-gradient(to right, #c97efd, #ef729d);*/
    box-shadow: 0px 0px 2px white;
    transition: ease-in-out 0.5s;
}

.sideNav {
    background-color: black;
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: -400px;
    padding: 10px;
    transition: ease-in-out 0.5s;
}

.sideNav ul {
    padding-top: 20px;
}

.sideNav ul li {
    padding-top: 20px;
    list-style-type: none;
}

.sideNav ul li a {
    text-decoration: none;
    color: white;
}

.sideNav ul li a:hover {
    color: #ef729d;
}

.sideNavjs {
    left: -0%;
    transition: ease-in-out 0.5s;
}


.close_menu {
    float: right;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.close_menu:hover {
    cursor: pointer;
}

.open_menu {
    color: white;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    display: none;
}

nav {
    text-align: right;
    padding: 5px;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

nav ul li a:hover {
    letter-spacing: 2px;
    transition: 0.5s;
}

.contactlink {
    background-color: white;
    color: rgb(0, 174, 255);
    padding: 5px;
    border-radius: 5px;
}

/********************barre*********************/
.barre {
    background: linear-gradient(to right, #c97efd, #ef729d);
    padding: 20px;
}

/*************************main*****************************/
main {
    margin: auto;
    width: 95%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

main div {
    flex-basis: 49%;
    box-sizing: content-box;
}

.main_firstBox {
    word-wrap: break-word;
}


.mon_Nom {
    font-size: 100px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.main_firstBox h2 {
    font-size: 45px;
    color: rgb(0, 174, 255);
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.main_firstBox p {
    font-size: large;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.main_firstBox p a {
    color: white;
    text-decoration: none;
}

.main_firstBox p a:hover {
    letter-spacing: 1px;
    transition: 0.5s;
}

.main_secondBox {
    box-sizing: content-box;
    text-align: center;
}

.main_secondBox img {
    width: 100%;
    object-fit: cover;

}

/********************section***************************/
section {
    margin: auto;
    width: 95%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

section div {
    flex-basis: 49%;
    box-sizing: content-box;
}

.sectionBox1 {
    text-align: center;
}

.sectionBox1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.sectionBox2 {
    text-align: justify;
}

.sectionBox2 h3 {
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titleColor {
    color: rgb(0, 174, 255);
}

/***********************************article**********************/
article {
    width: 95%;
    margin: auto;
    margin-top: 100px;

    h3 {
        text-align: center;
        font-size: 30px;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;

    }

}


.content_skill {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.content_skill .content_skillBox {
    flex-basis: 45%;
}

.langage {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.langage div {
    flex-basis: 15%;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.langage div:hover {
    transition: 0.5s;
    background-color: white;
}

.langage div i {
    font-size: 100px;
}

/********************aside***************************/
aside {
    margin: auto;
    margin-top: 100px;

    h3 {
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: "Kanit", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}


.swiper {
    width: 100%;
}

.swiper-slide {
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    background-color: inherit;
    box-shadow: 0px 0px 10px gainsboro;
    height: auto;
    border-radius: 20px;
    transition: 0.5s;

    h4 {
        font-weight: 200;
        color: white;
        word-wrap: break-word;
    }

    a {
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 7px;
        border-radius: 5px;
        position: relative;
        top: 20px;
        transition: 0.5s;
    }
}

.swiper-slide:hover {
  /*  background-color: rgb(0, 174, 255);*/
    border: none;
    transition: 0.5s;

    h4 {
        font-weight: 200;
        color: white;
        word-wrap: break-word;
    }

    a {
        color: white;
        border: 1px solid white;
        transition: 0.5s;
    }

    a:hover {
        padding: 7px;
        border: none;
        background-color: inherit;
        color: rgb(0, 174, 255);
        border: 1px solid rgb(0, 174, 255);
        transition: 0.5s;
    }
}

/************************footer***************/
footer {
    margin-top: 200px;
    background-color: rgb(0, 174, 255);
}

.footer {
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
}

.footer h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
}

.footer h3 {
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.footer ul {
    text-align: center;
    list-style-type: none;
}

.footer ul li {
    margin-top: 20px;
    display: inline-block;
    list-style-type: none;
}

.footer ul li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    transition: 0.5s;

    i {
        font-size: 20px;
    }
}

.footer ul li a:hover {
    padding: 0px 15px 0px 15px;
    transition: 0.5s;
}

.back {
    padding: 20px;
    text-align: right;
}

.back a {
    color: rgb(0, 174, 255);
    background-color: white;
    text-decoration: none;
    padding: 15px;
    transition: 0.5s;
}

.back a:hover {
    padding: 20px;
    transition: 0.5s;
}

.divcopy {
    border-top: 3px solid white;
    padding: 5px;
}

.copy {
    font-size: small;
    text-align: center;
    color: white;
}

/*********************media************************/
@media screen and (max-width:850px) {

    .open_menu {
        display: block;
    }

    nav {
        display: none;
    }

    main {
        flex-wrap: wrap;
    }

    main div {
        flex-basis: 100%;
    }

    .main_firstBox {
        text-align: center;
    }

    .mon_Nom {
        font-size: 60px;
    }

    section {
        flex-wrap: wrap;
    }

    section div {
        flex-basis: 100%
    }

    .sectionBox1 {
        order: 2;
    }

    .sectionBox2 {
        order: 1;
    }

    article {
        margin-top: 50px;
    }

    .langage div {
        flex-basis: 40%;
    }

    footer {
        margin-top: 200px
    }

}