body {
    margin: auto;
    padding: 0 auto;
    background-color: white;
    color: black;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
}

header {
    background-color: black;
    background: linear-gradient(to right, #c97efd, #ef729d);
    box-shadow: 0px 0px 5px white;
    transition: 0.5s;
}

.headerJSeffet {
    background: linear-gradient(to right, #c97efd, #ef729d);
    box-shadow: 0px 0px 2px white;
    transition: ease-in-out 0.5s;
}

.sideNav {
    background-color: black;
    width: 300px;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: -400px;
    padding: 10px;
    transition: ease-in-out 0.5s;
}

.sideNav ul {
    padding-top: 20px;
}

.sideNav ul li {
    padding-top: 20px;
    list-style-type: none;
}

.sideNav ul li a {
    text-decoration: none;
    color: white;
}

.sideNav ul li a:hover {
    color: #ef729d;
}

.sideNavjs {
    left: -0%;
    transition: ease-in-out 0.5s;
}


.close_menu {
    float: right;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.close_menu:hover {
    cursor: pointer;
}

.open_menu {
    color: white;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    display: none;
}

nav {
    text-align: right;
    padding: 5px;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

nav ul li a:hover {
    letter-spacing: 2px;
    transition: 0.5s;
}

.contactlink {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
}

/********************barre*********************/
.barre {
    background: linear-gradient(to right, #c97efd, #ef729d);
    padding: 20px;
}

/*************************main*****************************/
main {
    margin: auto;
    width: 95%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

main div {
    flex-basis: 49%;
    box-sizing: content-box;
}

.main_firstBox {
    word-wrap: break-word;
}

.main_firstBox p {
    font-size: large;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.main_firstBox p a {
    color: white;
    text-decoration: none;
}

.main_firstBox p a:hover {
    letter-spacing: 1px;
    transition: 0.5s;
}

.main_firstBox h2 {
    font-size: 45px;
    color: #ef729d;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.mon_Nom {
    font-size: 100px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.main_secondBox {
    box-sizing: content-box;
    text-align: center;
}

.main_secondBox img {
    width: 100%;
    object-fit: cover;

}

/********************section***************************/
section {
    margin: auto;
    width: 95%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

section div {
    flex-basis: 49%;
    box-sizing: content-box;
}

.sectionBox1 {
    text-align: center;
}

.sectionBox1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.sectionBox2 {
    text-align: justify;
}

.sectionBox2 h3 {
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titleColor {
    color: #ef729d;
}

/***********************************article**********************/
article {
    width: 95%;
    margin: auto;
    margin-top: 100px;

}

article h3 {
    text-align: center;
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.content_skill {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.content_skill .content_skillBox {
    flex-basis: 45%;
}

.progress {
    background-color: white;
    background: linear-gradient(to right, #c97efd, #ef729d);
    border-radius: 60px;
    padding: 3px;
    margin-top: 20px;
    transition: ease-in-out 0.5s;
}

.pourcentage {
    float: right;
}

.html,
.css,
.js,
.git,
.github {
    width: 90%;
    background-color: white;
    border-radius: 60px;
    padding: 3px;
    cursor: pointer;
}

.css {
    width: 80%;
}

.js {
    width: 60%;
}

.git {
    width: 70%;
}

.github {
    width: 70%;
}

.langage {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.langage div {
    flex-basis: 15%;
    margin-top: 20px;
    box-shadow: 0px 0px 5px gainsboro;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.langage div i {
    font-size: 100px;
}

/********************aside***************************/
aside {
    margin: auto;
    margin-top: 100px;
}

aside h3 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

aside h4 {
    font-weight: 200;
    word-wrap: break-word;
}

aside h4 a {
    text-decoration: none;
    color: black;
    padding: 0px 7px 0px 7px;
    border-radius: 5px;
    background-color: white;
    transition: 0.5s;
}

aside h4 a:hover {
    font-weight: 300;
    letter-spacing: 2px;
    transition: 0.5s;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    color: white;
}

/************************footer***************/
footer {
    margin-top: 100px;
}

.footer {
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
}

.footer h1 {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #ef729d;
}

.footer h3 {
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.footer ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

.footer ul li {
    margin-top: 20px;
    list-style-type: none;
    flex-basis: 30%;
    box-shadow: 2px 2px 10px gray;
}

.footer ul li a {
    color: white;
    background: linear-gradient(to right, #c97efd, #ef729d);
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.footer ul li a:hover {
    color: white;
    background-color: #c97efd;
    transition: 0.5s;
}

.back {
    padding: 20px;
    text-align: right;
}

.back a {
    color: white;
    background: linear-gradient(to right, #c97efd, #ef729d);
    text-decoration: none;
    padding: 15px;
    transition: 0.5s;
}

.back a:hover {
    background-color: black;
    padding: 20px;
    transition: 0.5s;
}

.divcopy {
    background-color: violet;
    background: linear-gradient(to right, #c97efd, #ef729d);
    padding: 5px;
}

.copy {
    font-size: small;
    text-align: center;
    color: white;
}

/*********************media************************/
@media screen and (max-width:850px) {

    .open_menu {
        display: block;
    }

    nav {
        display: none;
    }

    main {
        flex-wrap: wrap;
    }

    main div {
        flex-basis: 100%;
    }

    .main_firstBox {
        text-align: center;
    }

    .mon_Nom {
        font-size: 60px;
    }

    section {
        flex-wrap: wrap;
    }

    section div {
        flex-basis: 100%
    }

    .sectionBox1 {
        order: 2;
    }

    .sectionBox2 {
        order: 1;
    }

    article {
        margin-top: 50px;
    }

    .langage div {
        flex-basis: 40%;
    }

    footer {
        margin-top: 50px
    }

}